*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse
/bin/
/.classpath
/.project
/.settings

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# APK Scanner preference file
/settings.txt
/APKScanner.deb
/APKScanner.exe
/plugin/
/plugin/plugins.conf
/security/

# p4merge
*.orig

# mac
.DS_Store
/bundles/
/*.app.*

# vscode
/.vscode